$white: #fff;
$black: #000;
$btn_bg: #2267e7;
$light_bg: #f9f9f9;
$dark_text: #413f3f;
$shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
$shadow_hover: rgba(30, 24, 74, 0.5);
$footer_bg: #1462de;
$placeholder: #c1c2c6;

/* MEDIA SCREEN

    @media screen and (max-width: 400px) {

    }
      @media screen and (min-width: 576px) {

    }
      @media screen and (min-width: 992px) {

    }
      @media screen and (min-width: 1200px) {

    }
*/
