.footer {
  background: $footer_bg;
  color: $white;
  padding-top: 1rem;
  position: relative;
  margin-top: 10rem;
  height: 100%;

  @media screen and (min-width: 992px) {
    margin-top: 20rem;
    padding-top: 15rem;
  }

  &_top {
    display: none;
    position: absolute;
    top: -30rem;
    left: 50%;
    transform: translate(-50%, 50%);
    border: 1px solid $footer_top;
    overflow: hidden;
    width: 100%;
    max-width: 80rem;
    height: 30rem;
    margin: 0 auto;
    background: linear-gradient(
      to bottom,
      rgba(26, 178, 243, 1),
      rgba(20, 98, 222, 1)
    );

    border-radius: 2.5rem;
    &_inner {
      position: absolute;
      transform: translate(-50%, 50%);
      left: 50%;
      bottom: 10rem;
      @include flex_center();
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      padding-inline: 3rem;
      gap: 2rem;
      text-align: center;
    }

    &_middle {
      width: 100%;
      max-width: 30rem;
      font-size: 1.1rem;
      font-weight: 500;
      text-transform: capitalize;
      position: relative;
      inset: -1rem 0;

      &_inner {
        span {
          display: block;
          font-size: 1.4rem;
          font-weight: 700;
          margin-block: 0.5rem 2rem;
        }
        .download_btns {
          @include flex_center();
          gap: 1rem;

          button {
            @include flex_center();
            justify-content: flex-start;
            gap: 0.5rem;
            background: $black;
            width: 16rem;
            height: 4.5rem;
            padding-inline: 1rem;
            border-radius: 1.2rem;
            text-transform: capitalize;
            line-height: normal;
            overflow: hidden;
            @include hover_animate();

            p {
              line-height: normal;
              position: relative;
              inset: 1rem 0;
              line-height: 1rem;
              font-weight: 300;
              font-size: 1rem;
              text-align: left;

              span {
                font-weight: 600;
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }
  }

  &_middle {
    width: 100%;
    &_inner {
      display: grid;
      justify-content: flex-start;
      align-items: flex-start;
      height: 100%;
      // overflow: hidden;

      @media screen and (min-width: 992px) {
        // height: 40.9rem;
        height: 50rem;
        @include flex_center();
        border-bottom: 1px solid $light_bg;
      }
    }

    &_left {
      width: 100%;
      height: 100%;
      &_header {
        @include flex_center();
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        border-bottom: 0.5px solid $light_bg;
        padding: 2rem 0.5rem;

        @media screen and (min-width: 992px) {
          padding: 6rem 8rem;
          justify-content: space-between;
          border: 0.5px solid $light_bg;
          border-left: none;
          border-top: none;
          gap: 7rem;
        }

        p {
          width: 100%;
          max-width: 17rem;
          font-weight: 500;
          font-size: 0.8rem;
        }
      }

      &_list {
        @media screen and (min-width: 992px) {
          border-right: 0.5px solid $light_bg;
        }

        &_inner {
          @include flex_center();
          justify-content: space-between;
          align-items: flex-start;
          text-transform: capitalize;
          flex-wrap: wrap;
          padding: 2rem 1rem;
          gap: 3rem;
          @media screen and (min-width: 992px) {
            padding: 6rem 8rem;
            gap: 1rem;
          }

          div {
            display: grid;
            gap: 1.5rem;
            & > h4 {
              font-weight: 700;
              font-size: 1.5rem;
              display: grid;
              width: fit-content;
            }

            ul {
              display: grid;
              gap: 1rem;

              li {
                cursor: pointer;
                @include hover_animate();
                font-weight: 500;
                width: 7.5rem;

                &:hover {
                  font-weight: 700;
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }

    &_right {
      position: relative;
      height: 100%;
      width: 100%;
      @media screen and (min-width: 992px) {
        height: 99.8%;
      }

      &_inner {
        display: grid;
        gap: 2rem;
        padding: 1rem;
        @media screen and (min-width: 992px) {
          padding: 1rem 5rem;
        }
      }

      &_top {
        margin-block: 2rem 0;
        @media screen and (min-width: 992px) {
          margin-block: 6rem 5rem;
        }

        p {
          font-weight: 500;
          font-size: 1rem;
          line-height: normal;

          @media screen and (min-width: 992px) {
            font-size: 1.4rem;
          }
        }

        span {
          font-weight: 800;
          font-size: 1.2rem;

          @media screen and (min-width: 992px) {
            font-size: 2.5rem;
          }
        }
      }

      &_input {
        width: 100%;

        &_inner {
          background: $white;
          padding: 0.1rem;
          width: 100%;
          height: 3.5rem;
          border-radius: 100vmax;
          overflow: hidden;
          color: $dark_text;
          @include flex_center();

          @media screen and (min-width: 992px) {
            width: 60%;
            height: 3.5rem;
          }

          input {
            width: 100%;
            height: 100%;
            padding: 1rem;
            font-size: 1.3rem;
            font-weight: 500;

            &::placeholder {
              color: $placeholder;
            }
          }

          button {
            background: $btn_bg;
            color: $white;
            width: 70%;
            height: 100%;
            border-radius: 100vmax;
            text-transform: capitalize;
            font-weight: 500;
            font-size: 1rem;
            transition: all 0.3s ease-in-out;
            opacity: 0.9;

            @media screen and (min-width: 992px) {
              width: 60%;
            }

            &:hover {
              opacity: 1;
              font-size: 1.1rem;
              font-weight: 600;
            }
          }
        }
      }

      &_bottom {
        margin-top: 2rem;
        @media screen and (min-width: 992px) {
          position: absolute;
          bottom: 0;
        }

        span {
          font-size: 1.2rem;
          font-weight: 700;
          text-transform: capitalize;
        }

        ul {
          @include flex_center();
          justify-content: flex-start;
          gap: 0.5rem;

          li {
            @include hover_animate();
            width: fit-content;
            height: 4rem;
          }
        }
      }
    }
  }

  &_bottom {
    &_inner {
      padding: 6rem 8rem;
      @include flex_center();
      justify-content: flex-start;
      align-items: flex-start;
      gap: 5rem;
    }

    &_left {
      position: relative;
      inset: -0.4rem 0;
      p {
        @include flex_center();
        gap: 0.5rem;
        font-size: 1rem;
        font-weight: 500;
        span {
          font-weight: 600;
          font-size: 2rem;
          line-height: normal;
          position: relative;
          inset: -0.1rem 0;
        }
      }
    }

    &_right {
      width: 100%;
      max-width: 68rem;
      list-style: disc;
      display: grid;
      gap: 1.5rem;
      font-weight: 300;
      font-size: 1rem;

      li {
        span {
          font-weight: 500;
        }
      }
    }
  }
}
